<!doctype html5>
<html lang ="en">
<head>
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <title>Postgres Performance</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

  <%= yield %>
  <footer role ="contentinfo">
    Copyright Aleena Watson & Cozy Services Ltd.
  </footer>
</body>
</html>
