<!DOCTYPE html>
<html lang ="en">
<head>
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <title>Postgres Performance</title>
  <link rel="stylesheet" text="text/css" href="<%= PGPerformance.root_url %>styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
</head>
<body>


<div id="pjax-container">
  <%= yield %>
</div>

<footer role ="contentinfo">
    Copyright Aleena Watson & Cozy Services Ltd. 2017
  </footer>
</body>
</html>
