<div class = "parent">
  <div class="menu_item"><a href="/">Mean Time</a></div>
  <div class="menu_item"><a href="/total-time">Total Time</a></div>
  <div class="menu_item"><a href="/most-frequent">Most Frequent</a></div>
</div>