<!--<div id="div2">-->
  <div class = "parent">
      <div class="menu_item"><a href="/">Mean Time</a></div>
      <div class="menu_item"><a href="/total-time">Total Time</a></div>
      <div class="menu_item"><a href="/most-frequent">Most Frequent</a></div>
      <div class="menu_item"><a href="/long-running">Long Running</a></div>
      <div class="menu_item"><a href="/all-active">All Active</a></div>
  <!--</div>-->
</div>