body {
	font-family: Trebuchet MS;
	background-color: white;
	margin: 2.5%;
	position: relative;
}

table {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
	background-color: f8f8f8;
	font-size: 90%;
/*  The below is responsible for collapsing table when using app on mobile device  */
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	background-color: gainsboro;
	justify-content: space-between;
	padding: 7px 10px;
	text-align: start;
	font-weight: 500;
	width: auto;
	margin: -10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	text-decoration: none;
}

/*** flex stuff ***/

.parent {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	overflow: hidden;
	background-color: darkcyan;
	display: flex;
}

.menu_item {
	background-color: hide;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-radius: 3px;
	margin: 5px;
	padding: 10px 0px 0px 14px;
	text-align: left;
	font-weight: 500px;
}
a#refresh_button {
	background-color: unset;
}

/*** end ***/

/* Although there are no images in the app, this is added to secure correctness when sizing down browser to mobile
   in the event that someone does at an image to the app  */
img {
	max-width: 100%;
}

header {
	font-size: xx-large;
	color: 82ccd6;
}

footer {
	color: red;
	background-color: whitesmoke;
	text-align: center;
	font-size: 75%;
}

ol {
	color: black;
}

thead {
	background-color: gainsboro;
	font-weight: 500px;
}

thead:nth-child(2n) {
	color: lightcyan;
}

th {
	color: black;
	text-align: left;
	font-size: 80%;
	padding: 7px 7px 7px 15px;
}
th:nth-child(1) {
	width:5%;
}
th:nth-child(2) {
	width:5%;
}
th:nth-child(3) {
	width:5%
}
th:last-child {
	width:75%;
}

td {
	padding:15px 10px 15px 15px;
	overflow-wrap: break-word;
	font-size: 90%;
}

@media print {
	boxy {
		background: none;
	}
}
@media
only screen and (max-width: 960px),
(min-device-width: 115px) and (max-device-width: 1080px) {
	table, thead, tbody, th, td, tr {
		display:block;
	}

	.parent {
		background-color: white;
	}

	.menu_item{
		background-color: hide;
	}

	a:hover {
		padding: 10px;
		text-align: left;
		font-weight: 500;
		width: auto;
		margin: -10px;
		border-radius: 30px;
		overflow: hidden;
		text-decoration: none;
		display: block;
		color: white;
		background-color: darkcyan;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.parent {
		white-space: nowrap;
		overflow-x: auto;
	}

	.menu_item {
		padding: 10px;
		display: inline-block;
		margin: 5px;
	}

	td {
		border: none;
		border-bottom: 1px solid white;
		position: relative;
		padding-left: 30%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 15%;
		padding-right: 10px;
		white-space: pre-line;
		font-size: 76%
	}

	tr:nth-child(odd) {
		background-color: eff4f4;
	}

	td:nth-of-type(1):before { content: "Total (s)"; }
	td:nth-of-type(2):before { content: "Calls"; }
	td:nth-of-type(3):before { content: "Mean (ms)"; }
	td:nth-of-type(4):before { content: "Standard Deviation (ms)"; }
	td:nth-of-type(5):before { content: "Query"; }

	table.mean-time td:nth-of-type(1):before { content: "Mean (ms)"; }
	table.mean-time td:nth-of-type(2):before { content: "Total (s)"; }
	table.mean-time td:nth-of-type(3):before { content: "Standard Deviation (ms)"; }
	table.mean-time td:nth-of-type(4):before { content: "Query"; }


	table.most-frequent td:nth-of-type(1):before { content: "Calls"; }
	table.most-frequent td:nth-of-type(2):before { content: "Total (s)"; }
	table.most-frequent td:nth-of-type(3):before { content: "Mean (ms)"; }

	table.long-running td:nth-of-type(1):before { content: "Application Name"; }
	table.long-running td:nth-of-type(2):before { content: "Start Time"; }
	table.long-running td:nth-of-type(3):before { content: "State"; }
	table.long-running td:nth-of-type(4):before { content: "Query"; }

	table.all-active td:nth-of-type(1):before { content: "Application Name"; }
	table.all-active td:nth-of-type(2):before { content: "Start Time"; }
	table.all-active td:nth-of-type(3):before { content: "State"; }
	table.all-active td:nth-of-type(4):before { content: "Query"; }


}
